@charset "utf-8";
html,
body {
	font-size: 12px;
	font-family: "微软雅黑"
}

.navbar-brand {
	position: relative;
}

.navbar-default {
	border: none;
	border-bottom: 1px solid #EFEFF0;
	background: #FFFFFF;
	margin: 0;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background: none;
}

.city {
	background: url(../images/city.png) no-repeat right bottom;
	display: inline-block;
	line-height: 1.5rem;
	text-align: center;
	color: #333333;
	font-size: 1.4rem;
	padding-right: 10px;
}

.city-box {
	display: none;
	position: absolute;
	top: 50px;
	z-index: 999999;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	background: #FFFFFF;
	width: 100px;
}

.city-box.a {
	display: block;
}

.city-box a {
	display: block;
	line-height: 32px;
	text-align: left;
	padding: 0 10px;
	color: #333333;
	font-size: 16px;
}

form {
	overflow: hidden;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
}

form.dh input {
	width: 93%;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	line-height: 36px;
	height: 36px;
	padding-left: 0.8rem;
	outline: none;
}

.no1 {
	width: 100%;
	padding: 0;
	margin: 0 auto;
}
.banner{
	margin-top: 50px;
}
.banner img {
	width: 100%;
}

.app{
	text-align: left;
	line-height: 3rem;
	font-size: 1.2rem;
	color: #333333;
	vertical-align: middle;

	padding-bottom: 2px;
	color: #333333;
	display: block;
}
.app img{
	height: 2rem;
	display: inline-block;
	padding-left: 1.2rem;
	padding-right: 1rem;
}
.title-box{
	padding-left: 1rem;
	padding-right: 1rem;
	overflow: hidden;
}
.title-box>a{
	display: block;
	float: right;
	line-height: 3rem;
	color: #999999;
	font-size: 1.2rem;
}
.title-box h1{
	margin: 0;
	padding-left: 0.5rem;
	font-weight: normal;
	border-left: 2px solid #26a0df;
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	float: left;
}
.title-box h1 i{
	font-style: normal;
	font-size: 0.5rem;
	color: #F65401;
}
.title-box h1 span{
	font-size: 0.5rem;
}
.bb{
	color: #333333;
}
.bb img{
	display: block;
	
	width: 100%;
}
.bb h1{
	font-weight: normal;
	padding: 0;
	line-height: 1;
	margin: 0;
	font-size: 1.4rem;
	margin-bottom: 0.1rem;
	
}
.bb p{
	color: #999999;
	margin-bottom: 0.6rem;
}
.bb>div{
	
	padding: 0 0.8rem;
	padding-top: 0.8rem;
	border: 1px solid #cccccc;
	border-top: none;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.c .swiper-slide{
	width: 60%;
	padding-left: 1rem;
}
.line{
	border-top: 1px #efeff0 solid;
	padding-bottom: 1rem;
}
.e>div{
	padding: 0 1rem;
}
.e>div img{
	width: 100%;
	display: block;
}
.e>div a{
	display: block;
	position: relative;
}
.e>div a p{
	position: absolute;
	bottom: 0;
	font-size: 1.3rem;
	font-weight: bolder;
	color: #FFFFFF;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	background: rgba(0,0,0,.5);
	line-height: 3rem;
	padding: 0 1rem;
	margin: 0;
}

.f{
	background: #fafafa;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 2rem;
	padding-bottom: 1.2rem;
	
}
.f div{
	width: 45%;
	text-align: center;
}
.f div p{
	font-size: 0.8rem;
	margin-bottom: 0;
	line-height: 1.6;
	margin-bottom: 0.8rem;
}
.f div img{
	margin-bottom: 0.8rem;
	height: 3.5rem;
	display: inline-block;
}
.t{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 2rem;
}
.t img{
	float: left;
	width: 5rem;
}
.telll {
	
	float: right;
}
.telll span{
	font-size: 1.1rem;
	color: #333333;
	font-weight: bold;
	
	
}
.telll p{
	line-height: 1;
	font-size: 0.8rem;
	text-align: center;
	overflow: hidden;
	color: #999999;
	margin-bottom: 0;
	margin-bottom: 0.4rem;
}
/*footer*/
.ee{
	background: rgba(73, 73, 73, 0.35) url(../images/bbjj.png) center bottom no-repeat;
	overflow: hidden;
	background-size: cover;
	padding: 0.5rem;
}
.ee>img.log{
	display: block;
	/*width: 60%;*/
	margin: 1.5rem auto;	
}
.in input{
	margin: 0 auto;
	display: block;
	border: 1px solid #FFFFFF;
	outline: none;
	width: 100%;
	background: none;
	background-size: 1.5rem;
	height: 3rem;
	line-height: 3rem;
	margin-bottom: 0.9rem;
	padding-left: 1rem;
	color: #FFFFFF;
	
}

.ee form{
	background: #535656;
	padding: 1.2rem;
}
.in button{
	width: 100%;
	border: #FFFFFF;
	background: #c29752;
    color: white;
    line-height: 2.5;
    font-size: 1.4rem;

}
 .in input::-webkit-input-placeholder{
    color:#FFFFFF;
}
 .in input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#FFFFFF;
}
 .in input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#FFFFFF;
}
 .in input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color:#FFFFFF;
}
address{
	padding: 0 1.2rem;
	margin-top: 1rem;
}
address p{
	margin: 0;
	line-height: 1.8;
	text-align: justify;
	color: #FFFFFF;
	font-style: normal;

}
.ewm{
	display: flex;
	justify-content: space-between;
}
.ewm>div{
	width: 50%;
	text-align: center;
}

.ewm>div span{
	display: block;
	text-align: center;
	color: #FFFFFF;
	font-style: normal;
	margin-bottom: 0.6rem;
}
.footer-a .p{
	text-align: center;
	background: #333333;
	line-height: 3.6;
	color: #FFFFFF;
}
.ewm{
	display: flex;
	justify-content: space-between;
	padding: 0.3rem;
}
.ewm img{
	display: inline-block;
	width: 80%;
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
}
.ewm p{
	margin-bottom: 0;
	color: #FFFFFF;
}
/*房屋详情*/
.navbar-header p{
	/*width: 70%;*/
	margin: 0 auto;
	line-height: 50px;
	font-size: 1.8rem;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap ;
	
}

.fyxq{
	margin-top: 50px;
}
.fyxq .swiper-slide img{
	display: block;
	width: 100%;
}
.title h1,.title p{
	font-weight: normal;
	color: #333333;
	line-height: 1;
	margin: 0;
	font-size: 1.5rem;
	padding:0.8rem 0.8rem 0.8rem 1rem;
	
}
.title p{
	color: #f65401;
	padding-top: 0;
}
.title{
	border-bottom: 1px #efeff0 solid;
}
.ttt{

	width: 94%;
	text-align: left;
	margin: 0.6rem auto; 
	line-height: 1.5rem;
}

.ttt tr{
	vertical-align: top;
	font-size: 0.86rem;

}
.ttt tr td:nth-of-type(2n+1){
	color: #999999;
	padding-right: 1rem;
}
.w{
	padding-top: 0.6rem;
	background: #f9f9fb;
}
.w h1{
	font-weight: normal;
	padding-left: 1rem;
	border-bottom: 1px #efeff0 solid;
	margin: 0;
	padding-left: 1rem;
	font-size: 1.5rem;
	line-height: 2;
	background: #FFFFFF;
}
.equipment{
	padding-top: 1.5rem;
	background-color: #FFFFFF;
}
.equipment:after {
	content: '';
	display: table;
	clear: both
}

.equipment>div {
	width: 20%;
	box-sizing: border-box;
	float: left;
	padding-bottom: 1.5rem
}

.equipment>div .icon {
	height: 21px;
	width: 100%
}

.equipment>div p {
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	color: #707070;
	margin-bottom: 0;
}
.equipment>div div{
	margin-bottom: 0.5rem;
}
.equipment>div.bed .icon {
	background: url(../images/bed@3x.png) center no-repeat;
	background-size: auto 21px;
}

.equipment>div.closet .icon {
	background: url(../images/closet@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.tv .icon {
	background: url(../images/tv@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.desk .icon {
	background: url(../images/desk@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.chair .icon {
	background: url(../images/chair@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.fridge .icon {
	background: url(../images/fridge@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.washer .icon {
	background: url(../images/washer@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.aircondition .icon {
	background: url(../images/aircondition@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.gas .icon {
	background: url(../images/gas@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.calorifier .icon {
	background: url(../images/calorifier@3x.png) center no-repeat;
	background-size: auto 21px
}

.equipment>div.no {
	opacity: .4;
}

.address {
	color: #9a9a9a;
	padding-bottom: 10px
}

.new-rentdetail .linkPerson {
	position: fixed;
	bottom: 50px;
	right: 0;
	width: 129px;
	height: 44px;
	border-radius: 44px 0 0 44px;
	background: #ec544b;
	color: #fff;
	box-shadow: 2px 2px 10px #ec544b;
	padding-left: 20px;
	line-height: 44px;
	z-index: 2
}

.new-rentdetail .linkPerson .tel-icon {
	display: block;
	float: left;
	width: 19px;
	height: 44px;
	line-height: 44px;
	box-sizing: border-box;
	margin-right: 8px;
	background: url(../images/tel-icon.png) center no-repeat;
	background-size: 19px auto
}
.fw-swiper .swiper-container{
	background: #FFFFFF;
	padding:1.5rem 0rem;
}
.fw-swiper .swiper-slide{
	background: #f6fcff;
	height: initial;
	margin-left: 1rem;
	padding:1rem 0.7rem;
}
.fw-swiper .swiper-slide h2{
	font-size: 1.5rem;
	line-height:1;
	margin: 0 auto;
	padding: 0;
}
.fw-swiper .swiper-slide h3{
	font-size: 1rem;
	line-height:2.5;
	color: #999999;
	margin: 0 auto;
	padding: 0;
}
.fw-swiper .swiper-slide h2 small{
	font-size: 1rem;
	color: #F65401;
	line-height: 1;
	padding-left: 0.5rem;
	vertical-align:bottom;
}
.fw-swiper .swiper-slide a{
	color: #F65401;
	border: 1px solid #F65401;
	display: inline-block;
	margin-top: 3px;
	padding: 0.2rem 0.8rem;
}
.w-text{
	padding: 1.5rem 1rem;
	background: #FFFFFF;
	font-size: 1rem;
	text-align: justify;
}
.px{

	margin-top: 1rem;
	/*border-bottom: 1px solid #EFEFF0;*/
	padding-bottom: 0.5rem;
}
.px:after{
	content: '';
	display: block;
	clear: both;
}
.px>div{
	float: left;
	width: 25%;
	box-sizing: border-box;
	text-align: center;
	border-right: 1px solid #efeff0;
	position: relative;
}
.px>div a{
	text-decoration: none;
}
.px>div:last-of-type{
	border: none;
}
.px>div>a span{
	color: #999999;
	padding-right: 10px;
}
.px>div.active>a span{
	color: #26a0df;
}
.px>div.active>a img{
	transform: rotate(180deg);
}
.px>div ul{
	display: none;
	position: absolute;
	width: 100%;
	background: #FFFFFF;
	top:27px;
	list-style: none;
	padding: 0;
	text-align: center;
	
}
.px>div.active ul{
	display: block;
}
.px>div ul a{
	position: relative;
	/*left: -1rem;*/
	color: #999999;
	line-height: 2rem;
}
.fyxx{
	margin-top: 91px;
}
.fyxx-box{
	padding:1.3rem 0.8rem;
	border-bottom: 1px solid #EFEFF0;
	display: flex;
	position: relative;
	align-items: stretch;
}
.fyxx-box>img{
	width: 100px;
	height: 65px;
	display: block;
}
.fyxx-t{
	padding-left: 1rem;
}
.fyxx-t h1{
	font-size: 1.1rem;
	color: #333333;
	font-weight: normal;
	margin: 0;
	overflow:hidden ;
	white-space: nowrap;
	text-overflow: ellipsis;	
	margin-bottom:0.6rem;
	line-height: 1;
	vertical-align: middle;
}
.fyxx-t h1 img,.fyxx-t h2 img{
	margin-right: 5px;
	width: 10px;
}
.fyxx-t h2{
	font-size: 0.8rem;
	color: #999999;
	font-weight: normal;
	margin: 0;
	overflow:hidden ;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom:0.5rem;	
}
.price{
	width: 7rem;
	float: right;
	display: flex;
	align-items: center;
	vertical-align: middle;
	position: absolute;
	right: 0.8rem;
	height: 100%;
	top: 0;
	font-size: 0.7rem;
}
.price span{
	display: block;
	width: 100%;
	text-align: right;
}
.price b{
	font-weight: normal;
	color: #F65401;
	font-size: 1.5rem;
}
.bt span{
	border: 1px solid #ffa000;
	display: inline-block;
	color: #ffa000;
	line-height:1 ;
	margin-right: 4px;
	padding: 2px 5px;
}
.bt span:nth-of-type(2){
	border-color:#e7141a;
	color: #e7141a;
}
.jz{
	color: #999999;
	margin: 0rem;
	line-height: 3;
	text-align: center;
}
.about-text{
	padding:0 1rem;
}
.about{
	padding-bottom: 1rem;
}
.about-text p{
	margin-bottom: 0;
}
.about-text b{
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2;
}
/*环境展示*/
.hjzs{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 1rem;
	align-items: baseline;
}
.hjzs img{
	width: 49%;
	display: block;
	padding: 3px;
	border: 1px solid #efeff0;
	margin-bottom: 5px;
}
.banner-hj{
	margin-top: 50px;
}
.banner-hj img{
	width: 100%;
	display: block;
}
/*新闻*/
.new-box{
	padding: 0 1rem;
	border-bottom: 1px solid #EFEFF0;
}
.new-box>div a{
	width: 100%;
	overflow: hidden;
	display: flex;
	text-align: justify;
	justify-content: space-around;
	align-items: center;
	padding: 1rem 0;
	border-top: 1px solid #EFEFF0;
}
.new-box>div a img{
	width: 40%;
	margin-right: 0.8rem;
}
.new-box>div a h1{
	font-size: 16px;
	width: 90%;
	margin: 0;
	font-weight: initial;
	color: #333333;
	line-height: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;  
}
.new-box>div a h2{
	font-size: 0.9rem;
	margin: 0;
	font-weight: initial;
	color: #999999;
	line-height: 1;
	margin: 8px 0;
}
.new-box>div a h2 b{
	color: #333333;
	font-weight: inherit;
}
.new-box>div a h3{
	font-size: 0.9rem;
	font-weight: initial;
	margin: 0;
	color: #999999;
	width: 97%;
	line-height: 1.5;
}

.tttt{
	width: 60%;
}
.new2{
	margin-top: 50px;
	padding: 1.5rem 1rem;
}
.new2 img{
	display: block;
	max-width: 100%;
	margin: 1rem auto;
}
.new2 h1{
	color: #333333;
	font-size: 1.5rem;
	font-weight: normal;
	margin: 0;
}
.new2 h2{
	margin: 0;
	color: #999999;
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 2;
}
.new2 article{
	font-size: 1.2rem;
	line-height: 1.5;
}
.lxwm-text{
	padding:0 1rem;
	border-bottom: 1px solid #EFEFF0;
}
.lxwm-text img{
	display: block;
	width: 100%;	
	padding-top: 1rem;
	margin-bottom: 1rem;
}
.lxwm-text h1{
	margin: 0;
	color: #333333;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 2;
	margin:0;
}
.lxwm-text h2{
	margin: 0;
	color: #26a0df;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 5px;
}
.lxwm-text>div{
	height: 0;
	overflow: hidden;

}
.lxwm-text.active h1{
	color: #26a0df;
} 
.lxwm-text.active>div{
	height: auto;
}
.telll span.pull-left{
	margin-right: 8px;
}
.fixed{
	position: fixed;
	bottom: 0;
	width: 100%;
	display: block;
	z-index: 999999999;
}
.fixed>div div{
	position: absolute;
	top: 5px;
	right: 5px;
	width: 15px;
	height: 15px;
}
.dropdown-menu a{
	font-size: 12px;
}
a{
	text-decoration: none;
}
a:focus,a:link{
	color: initial;
		text-decoration: none;
}
.ttt tr td:nth-of-type(2n+1){
	width: 3rem;
}
.app a{
	color: #333333;
	font-size: 1.2rem;
}
